<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-cloak>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-controller="CameraController">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Visualizza <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">Viste Ortogonali</li>
							<li><a ng-click="topView()" href="#">Dall'alto</a></li>
							<li><a ng-click="bottomView()" href="#">Dal Basso</a></li>
							<li><a ng-click="rightView()" href="#">Destra</a></li>
							<li><a ng-click="leftView()" href="#">Sinistra</a></li>
							<li><a ng-click="frontView()" href="#">Davanti</a></li>
							<li><a ng-click="backView()" href="#">Dietro</a></li>
							<li class="divider"></li>
							<li><a ng-click="centerView()" href="#">Centra Vista</a></li>
							<li class="divider"></li>
							<li><a ng-click="showAxses()" href="#"><span class="glyphicon glyphicon-ok" ng-show="showaxes"></span> Visualizza Assi</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-controller="Object3DController">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Materiale <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="toogleWireframe()" href="#"><span class="glyphicon glyphicon-ok" ng-show="showireframe"></span> Wireframe</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-controller="Object3DController">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oggetto <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="loadModel('models/tree.js')" href="#"> Albero</a></li>
							<li><a ng-click="loadModel('models/horse.js')" href="#"> Cavallo</a></li>
							<li><a ng-click="loadModel('models/cast.stl')" href="#"> Cast</a></li>
						</ul>
					</li>
					<li class="dropdown" ng-controller="OrbitController">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Controlli <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="togglePan()" href="#"><span class="glyphicon glyphicon-ok" ng-hide="configuration.controls.noPan"></span> Pan</a></li>
							<li><a ng-click="toggleZoom()" href="#"><span class="glyphicon glyphicon-ok" ng-hide="configuration.controls.noZoom"></span> Zoom</a></li>
							<li><a ng-click="toggleRotate()" href="#"><span class="glyphicon glyphicon-ok" ng-hide="configuration.controls.noRotate"></span> Rotazione</a></li>
						</ul>
					</li>
					<li ng-controller="ConfigurationController">
						<a href="#" ng-click="showModal()">Configurazioni</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div ng-controller="CameraController" class="hidden">
		<button ng-click="centerView()" class="front">Recenter View</button>
		<button ng-click="topView()" class="front">Top View</button>
		<input type="checkbox" ng-model="showaxes" ng-change="showAxses()">OK
	</div>
	<div class="scene-container">
		<div ng-webgl class="fullsize"></div>
	</div>
	<div class="modal fade" id="configmodal" ng-controller="ConfigurationController">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Configurazioni</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="zoomspeed">Velocità Animazioni(0 per disabilitare)</label>
							<input id="zoomspeed" type="text" class="form-control" ng-model="configuration.animationDuration">
						</div>
						<div class="form-group">
							<label for="zoomspeed">Velocità Zoom</label>
							<input id="zoomspeed" type="text" class="form-control" ng-model="configuration.controls.zoomSpeed">
						</div>
						<div class="form-group">
							<label for="rotationspeed">Velocità Rotazione</label>
							<input id="rotationspeed" type="text" class="form-control" ng-model="configuration.controls.rotateSpeed">
						</div>
						<div class="form-group">
							<label for="panspeed">Velocità Pan</label>
							<input id="panspeed" type="text" class="form-control" ng-model="configuration.controls.keyPanSpeed">
						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script src="js/three/three.min.js"></script>
	<script src="js/three/CanvasRenderer.js"></script>
	<script src="js/three/Projector.js"></script>
	<script src="js/three/STLLoader.js"></script>
	<script src="js/csg/ThreeCSG.js"></script>
	<script src="js/detector/detector.js"></script>
	<script src="js/jquery/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/tween/tween.min.js"></script>
	
	<script src="app/model/Defect.js"></script>
	
	<script src="app/app.js"></script>
	<script src="app/controller/controller.js"></script>
	<script src="app/service/ConfigurationService.js"></script>	
	<script src="app/service/CameraService.js"></script>
	<script src="app/service/CameraObject3DService.js"></script>
	<script src="app/service/SceneService.js"></script>	
	<script src="app/service/SceneObject3DService.js"></script>
	<script src="app/service/Object3DService.js"></script>	
	<script src="app/service/DefectService.js"></script>
	<script src="app/service/ClippingService.js"></script>
	<script src="app/directive/SceneDirective.js"></script>	
	
</body>

</html>
